[Unit]
Description=Set drive standby parameters
After=mnt.mount

[Service]
Type=oneshot
ExecStart=/sbin/hdparm -S 24 /dev/disk/by-uuid/<your-drive-uuid>

[Install]
WantedBy=basic.target
